body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    background-color: #fbfbfb;
    padding: 5px 20px 20px;
}

.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.2s ease, height 0.2s ease;
}

.visible {
    opacity: 1;
    height: auto;
    transition: opacity 0.2s ease, height 0.2s ease;

}

form#add-token {
    background: #fbfbfb;
    margin-top: 20px;
    position: relative;
    display: flex;
}

form input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

form.inline-form {
    display: flex;
    background: #e2f3ff;
    padding: 20px;
    opacity: 1;
    animation: appear 0.15s;
}

form.inline-form input {
    margin-bottom: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }
}

.stored-coins>a {
    background: #2196F3;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.stored-coins ul {
    border-top: 1px solid #e7e3e3;
    border-bottom: 1px solid #e7e3e3;
    padding: 15px 0;
}

.stored-coins ul li {
    margin-bottom: 5px;
}


a.cancel {
    float: right;
    background-color: red;
    color: white;
    text-decoration: none;
    width: 21px;
    text-align: center;
    height: 21px;
    font-size: 15px;
    line-height: 22px;
    border-radius: 44px;
    position: absolute;
    top: -11px;
    right: -11px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.dpnone{
    display: none !important;
}
.dpblock{
    display: block !important;
}