form#add-token {
    background: #fbfbfb;
    padding: 10px 20px 10px 20px;
    max-width: 400px;
}

form input{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

form.inline-form {
    display: flex;
    background: #fbfbfb;
    padding: 20px;
}